extends layout

block content
  div.main
    h2.ip Tuning in from IP Address: 
    h2.long Longitude: 
    h2.lat Latitude: 
    h1.weather
    form
      input.input(type='text' name='location' placeholder='Enter City or ZipCode Here...')
      input.button(type='submit' name='submit' value='Submit')

block javascript
