body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('/images/rainbow.jpg');
  background-position: bottom;
  margin-bottom: 50px;
}

a {
  color: #00B7FF;
}

.main{
  padding: 40px;
  width: 80%;
  height: 75%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  min-width: 700px;
  background-color: white;
  opacity: .8;
  border-radius: 20px;
}

.input{
  width: 600px;
  height: 60px;
  font-size: 40px;
  border-radius: 20px;
  text-align: center;
}

.button{
  width: 400px;
  height: 65px;
  display: block;
  margin-left:auto;
  margin-right: auto;
  margin-top: 30px;
  background-color: grey;
  font-size: 40px;
  border-radius: 10px;

}

.weather{
  font-size: 65px;
}
